#under{
	position: absolute;
	top: 0px;
	left:0px;
	z-index: -20;
	
}
#sin{
	position: absolute;
	top: 140px;
	left:105px;
	z-index: -1;
	
}
#pipa{
	position: absolute;
	top: 120px;
	left:520px;
	z-index: -1;
	
}
#head{
	position: absolute;
	top: 55px;
	left:805px;
	z-index: -1;
	
}
#hands{
	position: absolute;
	top: 180px;
	left:270px;
	z-index: -1;
	
}
* {
	margin:0;
	padding:0;
}
body {
	background-color: black;
	-webkit-user-select : none;
	-webkit-text-size-adjust: none;
}
#home{
	position: absolute;
	top:650px;
	left: 30px;
	font-size: 20px;
	
}
/*
#visualbox {
	position: absolute;
	top:400px;
	left: 860px;
	-webkit-perspective: 800;
	-webkit-perspective-origin: 0px 60px;
	z-index: -10;
}
*/
.playing {
	-webkit-animation: 'rot3d' 4s linear 0s infinite normal;
	
}
@-webkit-keyframes 'rot3d' {
	0% { -webkit-transform: rotateZ(0deg); }
	25% { -webkit-transform: rotateZ(15deg); }
	50% { -webkit-transform: rotateZ(0deg); }
	75% { -webkit-transform: rotateZ(15deg); }
	100% { -webkit-transform: rotateZ(0deg); }
}
